
.canvas-container{

  width: 100%;

  .canvas{

    @media screen and (max-width: 1100px) {
      width: 100%;
    }
    @media screen and (min-width: 1101px) {
      width: 49%;
    }

    &.left{
      float: left;
    }

    &.right{
      float: right;
    }

    h2{
      text-align: center;
    }

    canvas{
      background: $white;
      margin: 0 auto;
      display: block;

      -moz-box-shadow:    0 0 10px 1px #e2e2e2;
      -webkit-box-shadow: 0 0 10px 1px #e2e2e2;
      box-shadow:         0 0 10px 1px #e2e2e2;
    }

  }


}

.form {

  text-align: center;

  select {
    background: transparent;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
    cursor: pointer;

    &:hover{
      color: red;
    }

    &:focus {
      outline: none;
    }

  }

}